@import 'tailwindcss';
@import './styles/fonts.css';

@theme {
  --breakpoint-mobile: 864px;
  --font-pretendard: 'Pretendard';
  --font-noto-sans: 'NotoSans';
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
